*
{
    font-family: 'Public Sans', sans-serif;
}
#heading
{
color:green;
}

#myResults
{
    display:none;
    margin-left:17px;
}

#displaySuccess
{
    display:none;
}

#displayDanger
{
    display:none;
}
#displayCoronasuccess
{
    display:none;
}

#displayCoronadanger
{
    display:none;
}
#heading4
{
    text-align: center;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%) 0, hsl(192, 70%, 51%) 100%);
    border-radius: 6px;
    color: #ffff;
}
#formResults
{
background-color: rgba(128, 128, 128, 0.324);
border-radius: 6px;
}
#resultHeading{
    text-align: center;
}
#fillDetails{
    text-align: center;
    display:inherit;
}

#displayCorona{
    display:none;
    margin-left:17px;
}

#myFormforcorona{
    display:none;
    margin-left:17px;
}
td {
    border: 1px solid black;
  }
